{% extends "default.html" %}
{% block title %}File System Checks{% endblock %}

{% block content %}

<form action="{{url_for('fsck.route_update_descriptions')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Update Description
    </h2>
    <p class="card-text">
      Replace text in the update description. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="search" value="" required/>
      →
      <input class="" type="text" name="replace" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_eventlog_delete')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Eventlog delete
    </h2>
    <p class="card-text">
      Delete eventlog entries using <code>ILIKE Event.message</code>. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="value" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_lockdown')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Lockdown!
    </h2>
    <p class="card-text">
      Lockdown all users on the LVFS. Be careful!
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_generate_stats')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Generate daily stats
    </h2>
    <p class="card-text">
      Generate stats for the last 30 days.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_update_attrs_vendors')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Vendor attributes
    </h2>
    <p class="card-text">
      Update all vendor attributes.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_project_license')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Project License
    </h2>
    <p class="card-text">
      Convert <code>metadata_license</code> and <code>project_license</code>
      values into standard types.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_resign')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Resign all pending firmware
    </h2>
    <p class="card-text">
      Attempt to sign all firmware that is pending.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_upload_ipfs')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Mirror all firmware to IPFS.
    </h2>
    <p class="card-text">
      Invalidate and then reupload all firmware to the IPFS.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_issues')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Clean up all component issues.
    </h2>
    <p class="card-text">
      Fix up the format of existing component issues, e.g.
      <code>Intel-TA-01234</code> to <code>INTEL-TA-01234</code>.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

{% endblock %}
