{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}{% include 'firmware-nav.html' %}{% endblock %}

{% block content %}

{% if reports|length > 0 %}

{% for r in reports %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.vendor.display_name}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{format_humanize_naturaltime(r.timestamp)}}</code>
  </h2>
  <div class="card-body">
    <table class="table">
{% for attr in r.attributes|sort %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">{{attr.key}}</th>
        <td class="col col-sm-8"><code>{{attr.value}}</code></td>
      </tr>
{% endfor %}
    </table>
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('reports.route_delete', report_id=r.report_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}

{% else %}

<div class="alert alert-info" role="alert">
  No reports found.
</div>

{% endif %}

{% endblock %}
