{% extends "default.html" %}
{% block title %}Runtime Tests{% endblock %}

{% block nav %}{% include 'settings-nav.html' %}{% endblock %}

{% block content %}
{% if tests|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Tests</h2>
    <p class="card-text">
      No tests in this state.
    </p>
  </div>
</div>
{% endif %}

{% for test in tests %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{test.color}}">
    {{test.fw.md_prio.name_with_vendor}} v{{test.fw.md_prio.version_display}}
    <span class="float-right">{{format_humanize_naturaltime(test.timestamp)}}</span>
  </h2>
  <div class="card-body">
{% if test.is_pending %}
    <p class="card-text">Test is pending…</p>
{% elif test.is_running %}
    <p class="card-text">Test is running since {{test.started_ts}}…</p>
{% endif %}
{% if test.attributes|length > 0 %}
    <ul class="card-text">
{% for attr in test.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% endif %}
    <div class="form-inline">
      <a class="card-link btn btn-info mx-1"
         href="{{url_for('firmware.route_show', firmware_id=test.firmware_id)}}"
         role="button">Details</a>
{% if test.started_ts and test.check_acl('@retry') %}
      <form action="{{url_for('tests.route_retry', test_id=test.test_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-info mx-1">Retry</button>
      </form>
{% endif %}
{% if not test.success and test.ended_ts and test.waivable and not test.waived_ts and test.check_acl('@waive') %}
      <form action="{{url_for('tests.route_waive', test_id=test.test_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning mx-1">Waive</button>
      </form>
{% endif %}
    </div>
  </div>
{% if test.waived_ts %}
  <div class="card-footer">
    Waived by <code>{{test.waived_user.username}}</code>
  </div>
{% endif %}
</div>
{% endfor %}

{% endblock %}
