{% extends "default.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="row no-gutters">

  <div class="col-xl-8 pr-xl-2">

    <!-- profile -->
    <div class="card mb-3">
      <div class="card-body bg-light">
        <h2 class="card-title">Profile Settings</h2>
        <form class="form" method="post" action="{{url_for('users.route_modify', user_id=g.user.user_id)}}">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="display_name">Display Name</label>
                <input class="form-control" id="display_name" type="text" id="display_name" name="display_name" value="{{g.user.display_name}}" required>
              </div>
            </div>
{% if g.user.check_acl('@robot') %}
            <div class="col-12">
              <div class="form-group">
                <label for="human_user">Contact Email</label>
                <input class="form-control" id="human_user" type="text" id="human_user" name="human_user" value="{{u.human_user.username}}">
                <p class="text-secondary">
                  This has to match the exact username of an existing LVFS user.
                </p>
              </div>
            </div>
{% endif %}
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>

    <!-- notifications -->
    <form class="form" method="post" action="{{url_for('users.route_modify', user_id=g.user.user_id)}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <div class="card mb-3 mb-xl-3">
      <div class="card-body bg-light">
        <h2 class="card-title">Email Notifications</h2>
        <p class="card-text">
          The LVFS can optionally send an email when a condition is met.
        </p>
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="notify-demote-failures"
                name="notify-demote-failures" value="1" {{'checked' if u.get_action('notify-demote-failures')}}/>
              <label class="custom-control-label" for="notify-demote-failures">
                When my firmware is demoted due to reported problems.
              </label>
            </div>
          </div>
        </div>
{% if g.user.check_acl('@admin') %}
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="notify-server-error"
                name="notify-server-error" value="1" {{'checked' if u.get_action('notify-server-error')}}/>
              <label class="custom-control-label" for="notify-server-error">
                When a critical server error occurs.
              </label>
            </div>
          </div>
        </div>
{% endif %}
{% if g.user.check_acl('@qa') %}
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="notify-upload-vendor"
                name="notify-upload-vendor" value="1" {{'checked' if u.get_action('notify-upload-vendor')}}/>
              <label class="custom-control-label" for="notify-upload-vendor">
                When firmware is uploaded by anyone in the {{u.vendor.group_id}} group.
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="notify-upload-affiliate"
                name="notify-upload-affiliate" value="1" {{'checked' if u.get_action('notify-upload-affiliate')}}/>
              <label class="custom-control-label" for="notify-upload-affiliate">
                When firmware is uploaded by an affiliate vendor on
                behalf of the {{u.vendor.group_id}} group.
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="notify-promote"
                name="notify-promote" value="1" {{'checked' if u.get_action('notify-promote')}}/>
              <label class="custom-control-label" for="notify-promote">
                When firmware is promoted to testing or stable.
              </label>
            </div>
          </div>
        </div>
{% endif %}
        <button class="btn btn-primary mt-3" type="submit">Save</button>
      </div>
    </div>
    </form>

    <!-- certificates -->
    <div class="card mb-3 mb-xl-0">
      <div class="card-body bg-light">
        <h2 class="card-title">Client Certificates</h2>
        <p class="card-text">
          Client certificates are used to verify that a report was sent from a specific
          user or machine and can be used to automatically set device checksums.
        </p>
        <p class="card-text">
          The <code>/var/lib/fwupd/pki/client.pem</code> certificate is automatically
          created when using fwupd 1.2.6 or newer.
        </p>
{% if g.user.certificates|length == 0 %}
        <p class="text-muted">
          No client certificates have been uploaded for this user.
        </p>
{% else %}
        <table class="table">
          <tr class="row table-borderless">
            <th class="col col-md-3">Added</th>
            <th class="col col-md-7">Signature</th>
            <th class="col">&nbsp;</th>
          </tr>
{% for crt in g.user.certificates %}
          <tr class="row">
            <td class="col col-md-3">{{crt.ctime}}</td>
            <td class="col col-md-7 text-truncate"><code>{{crt.serial}}</code></td>
            <td class="col">
              <form action="{{url_for('users.route_certificate_remove', certificate_id=crt.certificate_id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <button class="btn-block btn btn-danger">Remove</button>
              </form>
            </td>
          </tr>
{% endfor %}
        </table>
{% endif %}
        <form method="post" enctype="multipart/form-data" action="{{url_for('users.route_certificate_create')}}" id="form">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <label class="btn btn-primary card-text">
            Upload Certificate
            <input type="file" id="file" name="file" hidden>
          </label>
        </form>
      </div>
    </div>

    <!-- tokens -->
    <div class="card mt-3 mb-3 mb-xl-0">
      <div class="card-body bg-light">
        <h2 class="card-title">User Tokens</h2>
        <p class="card-text">
          User tokens are used to allow automated tasks to perform
          actions with your account.
        </p>
{% if g.user.tokens %}
        <table class="table">
          <tr class="row table-borderless">
            <th class="col col-md-4">Added</th>
            <th class="col col-md-5">Value</th>
            <th class="col">&nbsp;</th>
          </tr>
{% for tok in g.user.tokens %}
          <tr class="row">
            <td class="col col-md-4">{{tok.ctime.strftime('%F %T')}}</td>
            <td class="col col-md-6"><code>{{tok.value}}</code></td>
            <td class="col">
              <form action="{{url_for('users.route_token_remove', token_id=tok.user_token_id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                <button class="btn-block btn btn-danger">Remove</button>
              </form>
            </td>
          </tr>
{% endfor %}
        </table>
{% endif %}
        <form method="post" enctype="multipart/form-data" action="{{url_for('users.route_token_create')}}" id="form">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-primary">Generate Token</button>
        </form>
      </div>
    </div>
  </div>

{% if g.user.check_acl('@manage-password') %}
  <div class="col-xl-4 pl-xl-2">
    <div class="sticky-top sticky-sidebar">

      <!-- authentication -->
      <div class="card mb-3 overflow-hidden">
        <div class="card-body bg-light">
          <h2 class="card-title">Authentication</h2>
          <form method="post" action="{{url_for('users.route_auth', user_id=g.user.user_id)}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <p>Using 2 factor authentication secures your account more than just using a password.</p>
{% if g.user.is_otp_working %}
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" id="is_otp_enabled"
                id="is_otp_enabled" name="is_otp_enabled" value="1" {{'checked' if u.is_otp_enabled}}/>
              <label class="custom-control-label" for="is_otp_enabled">
                Require OTP to login
              </label>
            </div>
{% endif %}
            <button type="button" class="btn btn-secondary btn-block mt-3" data-toggle="modal" data-target="#otpSetupModal">
              {{ 'Show QR Code' if g.user.is_otp_working else 'Set up using QR code' }}
            </button>
{% if g.user.is_otp_working %}
            <button class="btn btn-primary btn-block" type="submit">Save</button>
{% endif %}
          </form>
        </div>
      </div>

      <!-- password -->
      <div class="card mb-3">
        <div class="card-body bg-light">
          <h2 class="card-title">Change Password</h2>
          <form method="post" action="{{url_for('users.route_password', user_id=g.user.user_id)}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <div class="form-group">
              <label for="password_old">Old Password</label>
              <input class="form-control" id="password_old" type="password" id="password_old" name="password_old" required>
            </div>
            <div class="form-group">
              <label for="password_new">New Password</label>
              <input class="form-control" id="password_new" type="password" id="password_new" name="password_new" required>
            </div>
            <div class="form-group">
              <label for="password_confirm">Confirm Password</label>
              <input class="form-control" id="password_confirm" type="password" id="password_confirm" name="password_confirm" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Update Password</button>
          </form>
        </div>
      </div>

      <!-- deactivate -->
      <div class="card">
        <div class="card-body bg-light">
          <h2 class="card-title">Delete this account</h2>
          <p class="fs--1">Once you delete the account there is no going back.</p>
          <button type="button" class="btn btn-block btn-falcon-danger" data-toggle="modal" data-target="#deactivateModal">
            Deactivate Account
          </button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
</div>

<script>
// one click upload button
document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
}
</script>

{% if g.user.check_acl('@manage-password') %}
<!-- Modal -->
<div class="modal" id="otpSetupModal" tabindex="-1" role="dialog" aria-labelledby="otpSetupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="otpSetupModalLabel">Setup OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Please use <a href="https://freeotp.github.io/">FreeOTP</a>,
          <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Google Authenticator</a>
          or any other suitable OTP application to scan this QR code:
        </p>
        <p class="text-center">
          <img id="qrcode" src="{{ url_for('users.route_qrcode') }}" alt="QR code">
        </p>
        <form method="post" action="{{url_for('users.route_otp_test')}}">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <div class="form-group">
            <label for="otp">Test your OTP code:</label>
            <input id="otp" class="form-control" type="password" id="otp" name="otp" placeholder="123456" aria-label="OTP">
          </div>
          <button class="btn btn-primary btn-block" type="submit">
            <b>Test OTP</b>
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- modal dialog -->
<div class="modal" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="nukeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeModalLabel">Really Deactivate User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          This will deactivate the this user account and you will no longer be
          able to access any of the files you have uploaded to the LVFS.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('users.route_deactivate', user_id=g.user.user_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">☠ Deactivate ☠</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
