{% extends "default.html" %}
{% block title %}{{fws[0].md_prio.name if fws else 'No firmware for device found'}}{% endblock %}

{% block head %}
{% if fws|length > 0 %}
    <link rel="alternate" type="application/atom+xml"
      title="LVFS: {{fws[0].md_prio.name}}"
      href="{{url_for('devices.route_show_atom', appstream_id=appstream_id)}}" />
{% endif %}
{% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}

{% if fws|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Details</h2>
    <p class="card-text">No firmware is available for this device.</p>
  </div>
</div>

{% else %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{fws[0].vendor.display_name}} {{fws[0].md_prio.name}}</h2>
    <p class="card-text">{{fws[0].md_prio.description}}</p>
  </div>
</div>

{% for fw in fws %}
<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">Version {{fw.version_display}}:</h2>
{% if fw.remote.name == 'testing' %}
<p class="card-text">
  <b>Warning:</b> This firmware is in the testing state and may not be suitable for
  production systems.
</p>
{% endif %}
<div class="table card-text">
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Released</div>
    <div class="col col-sm-10">{{fw.release_ts}}</div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">State</div>
    <div class="col col-sm-10">{{fw.remote.name}}</div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Urgency</div>
    <div class="col col-sm-10">{{fw.md_prio.release_urgency}}</div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">License</div>
    <div class="col col-sm-10">{{fw.md_prio.project_license.name}}</div>
  </div>
{% if fw.md_prio.requires_source_url %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Source</div>
    <div class="col col-sm-10">
      <a href="{{fw.md_prio.source_url}}">{{fw.md_prio.source_url}}</a>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Filename</div>
    <div class="col col-sm-10">
{% if fw.inhibit_download %}
      <p class="text-muted">
        The OEM that uploaded this firmware has chosen to disable downloads of
        the firmware when using a web browser.
        End users should use a client such as fwupdmgr to download and deploy
        the firmware.
      </p>
{% else %}
      <a href="{{fw.filename_absolute}}">{{fw.filename[41:]}}</a>
{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Description</div>
    <div class="col col-sm-10">
      {{format_html_from_markdown(fw.md_prio.release_description)|safe}}
{% if fw.md_prio.details_url_with_fallback %}
      <a class="btn" href="{{fw.md_prio.details_url_with_fallback}}">More details</a>
{% endif %}
    </div>
  </div>
{% if fw.md_prio.issues %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Fixed issues:</div>
    <div class="col col-sm-10">
      <ul class="list-group mb-3">
{% for issue in fw.md_prio.issues %}
        <li class="list-group-item"><a class="btn" href="{{issue.url}}">{{issue.value_display}}</a></li>
{% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col col-sm-2 font-weight-bold">Security</div>
    <div class="col col-sm-10">
      <ul class="list-group">
{% for claim in (fw.autoclaims+fw.claims)|sort() %}
        <li class="list-group-item">
          <img class="fa" src="{{url_for('cdn', filename='img/' + claim.icon_name + '-solid.svg')}}" width="22px" height="22px" />
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% if fw.md_prio.shards %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards', component_id=fw.md_prio.component_id)}}">Firmware Details</a>
{% if fw_previous[fw] %}
    <a class="card-link btn btn-info" href="{{url_for('devices.route_shards_diff',
                                                      component_id_old=fw_previous[fw].md_prio.component_id,
                                                      component_id_new=fw.md_prio.component_id)}}">Compare with previous</a>
{% endif %}
{% endif %}
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
