{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
{% if u.user_id == g.user.user_id %}
<div class="alert alert-warning mt-1" role="alert">
  <strong>Be careful editing your own profile:</strong>
  If you remove attributes they may need to be re-added manually by the LVFS administrator.
</div>
{% endif %}

<form id="reset" action="{{url_for('users.route_reset_by_admin', user_id=u.user_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<form id="modify" action="{{url_for('users.route_modify_by_admin', user_id=u.user_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<form id="disable_2fa" action="{{url_for('users.route_disable_2fa_by_admin', user_id=u.user_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

{% if u.auth_type != 'oauth' %}
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="display_name">Display Name</label>
    <div class="col col-sm-10">
      <input form="modify" type="text" class="form-control" id="display_name" name="display_name" value="{{u.display_name}}" required>
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="username">Username</label>
    <div class="col col-sm-10">
      <input form="modify" type="text" class="form-control" id="username" name="username" value="{{u.username}}">
    </div>
  </div>
{% endif %}
{% if g.user.check_acl('@admin') and u.auth_type in ['local', 'local+locked'] %}
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="password">Password</label>
    <div class="col col-sm-10">
      <input form="modify" type="text" class="form-control" id="password" name="password" value="" placeholder="{{'Exists' if u.password else 'Does not exist'}}">
    </div>
  </div>
{% endif %}
{% if u.vendor.check_acl('@manage-users') %}
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="auth_warning">Account Warning</label>
    <div class="col col-sm-10">
      <input form="modify" type="text" class="form-control" id="auth_warning" name="auth_warning" value="{{u.auth_warning if u.auth_warning else ''}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="human_user">Contact Email</label>
    <div class="col col-sm-10">
      <input form="modify" type="text" class="form-control" id="human_user" name="human_user" value="{{u.human_user.username if u.human_user else ''}}" placeholder="As username...">
    </div>
  </div>
{% endif %}
{% if u.vendor.check_acl('@manage-users') %}
  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="auth_type">Account Type</label>
    <div class="col col-sm-10">
    <select form="modify" class="form-control" id="auth_type" name="auth_type">
      <option value="disabled" {{ 'selected' if u.auth_type == 'disabled' }}>
        Disabled
      </option>
      <option value="local" {{ 'selected' if u.auth_type == 'local' }}>
        Enabled, can change own password
      </option>
      <option value="local+locked" {{ 'selected' if u.auth_type == 'local+locked' }}>
        Enabled, password cannot be changed
      </option>
      <option value="oauth" {{ 'selected' if u.auth_type == 'oauth' }}>
        OAuth only
      </option>
    </select>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <label class="col col-form-label col-sm-2 pt-0">Attributes</label>
      <div class="col col-sm-10">
{% if g.user.check_acl('@add-action-admin') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="id-admin" name="admin" value="1" {{'checked' if u.check_acl('@admin')}}>
          <label class="custom-control-label" for="id-admin">
            Full access to all vendors and users on the server
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-robot') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="robot" name="robot" value="1" {{'checked' if u.check_acl('@robot')}}>
          <label class="custom-control-label" for="robot">
            Account is a robot used for automated firmware uploading only
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-analyst') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="analyst" name="analyst" value="1" {{'checked' if u.check_acl('@analyst')}}>
          <label class="custom-control-label" for="analyst">
            Read-only access to all firmware and associated reports in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-qa') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="qa" name="qa" value="1" {{'checked' if u.check_acl('@qa')}}>
          <label class="custom-control-label" for="qa">
            Allowed to modify all the firmware uploaded to the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-vendor-manager') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="vendor-manager" name="vendor-manager" value="1" {{'checked' if u.check_acl('@vendor-manager')}}>
          <label class="custom-control-label" for="vendor-manager">
            Allowed to add, remove and modify users in the <code>{{u.vendor.group_id}}</code> group
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-researcher') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="researcher" name="researcher" value="1" {{'checked' if u.check_acl('@researcher')}}>
          <label class="custom-control-label" for="researcher">
            Allowed to create YARA rules that can be run on <strong>public</strong> firmware
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-partner') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="partner" name="partner" value="1" {{'checked' if u.check_acl('@partner')}}>
          <label class="custom-control-label" for="partner">
            Allowed to import and export <strong>public</strong> lists of firmware, e.g. from Microsoft Update
          </label>
        </div>
{% endif %}
{% if g.user.check_acl('@add-action-approved-public') %}
        <div class="custom-control custom-switch">
          <input form="modify" type="checkbox" class="custom-control-input" id="approved-public" name="approved-public" value="1" {{'checked' if u.check_acl('@approved-public')}}>
          <label class="custom-control-label" for="approved-public">
            Allowed to move firmware to the public <code>testing</code> and <code>stable</code> remotes
          </label>
        </div>
{% endif %}
      </div>
    </div>
  </fieldset>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <div class="form-check form-inline mb-3">
      <input form="modify" type="checkbox" class="form-check-input" id="send_email" name="send_email" value="{{'1' if not u.check_acl('@robot')}}" checked />
      <label class="form-check-label" for="send_email">
        Notify the user about the account change
      </label>
    </div>
{% else %}
  <input form="modify" type="hidden" name="send_email" value="1" />
{% endif %}
  <input form="modify" type="submit" class="card-link btn btn-primary" value="Save" />
  <div class="float-right">
{% if g.user.check_acl('@add-action-vendor-manager') and u.auth_type != 'oauth' and u.is_otp_enabled %}
    <input form="disable_2fa" type="submit" class="card-link btn btn-warning" value="Disable 2FA" />
{% endif %}
    <button form="reset" class="card-link btn btn-warning">Reset Password</button>
{% if g.user.check_acl('@admin') and u.group_id != 'admin' %}
    <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
  </div>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Unless you are required to delete a user for legal or compliance reasons,
          removing a user is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            All firmware uploaded by the user will be deleted.
          </li>
          <li class="confirm">
            Any statistics and logs for this user are deleted.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('users.route_delete', user_id=u.user_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
