<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('vendors.route_users', vendor_id=u.vendor.vendor_id)}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'users.route_admin' and page == 'admin' else 'default'}}"
        href="{{url_for('users.route_admin', user_id=u.user_id, page='admin')}}">Overview</a>
{% if u.fws|length > 0 %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'users.route_admin' and page == 'firmware' else 'default'}}"
        href="{{url_for('users.route_admin', user_id=u.user_id, page='firmware')}}">Uploaded Firmware</a>
{% endif %}
{% if g.user.check_acl('@admin') and u.user_id != g.user.user_id %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'users.route_admin' and page == 'vendor' else 'default'}}"
        href="{{url_for('users.route_admin', user_id=u.user_id, page='vendor')}}">Change Vendor</a>
{% endif %}
{% if g.user.check_acl('@admin') %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'users.route_queries' else 'default'}}"
        href="{{url_for('users.route_queries', user_id=u.user_id)}}">YARA Queries</a>
{% endif %}
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'users.route_admin' and page == 'event' else 'default'}}"
        href="{{url_for('users.route_admin', user_id=u.user_id, page='event')}}">Event Log</a>
    </div>
  </div>
</nav>
