{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
{% if u.fws|length > 0 %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-sm-4">Firmware</th>
    <th class="col col-sm-2">Version</th>
    <th class="col col-sm-2">For Vendor</th>
    <th class="col col-sm-2">In Remote</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% for fw in u.fws %}
  <tr class="row">
    <td class="col col-sm-4">{{fw.md_prio.name_with_vendor}}</td>
    <td class="col col-sm-2">{{fw.version_display}}</td>
    <td class="col col-sm-2">{{fw.vendor.group_id}}</td>
    <td class="col col-sm-2"><code>{{fw.remote.name}}</code></td>
    <td class="col col-sm-2">
      <a class="btn btn-info btn-block" href="{{url_for('firmware.route_show', firmware_id=fw.firmware_id)}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p class="card-text">This user has uploaded no firmware.</p>
{% endif %}
  </div>
</div>

{% endblock %}
