{% extends "default.html" %}

{% block title %}Developers{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">The LVFS project</h2>
<p class="card-text">
  The LVFS is a simple Flask web service using a MySQL database and the code is
  available for review at <a href="https://gitlab.com/fwupd/lvfs-website">GitLab</a>.
  This is also the place to file <a href="https://gitlab.com/fwupd/lvfs-website/issues">vendor feature requests</a>
  and also where you can request existing vendors on the LVFS update specific models of hardware.
  You can run your own test instance by doing:
</p>
<pre>
$ git clone https://gitlab.com/fwupd/lvfs-website.git
$ ./app.wsgi
</pre>
<p class="card-text">
  There is a low-volume <code>lvfs-announce</code> mailing list for the Linux Vendor
  Firmware Service, which will only be used to make announcements about new
  features and planned downtime.
  If you are interested in what’s happening with the LVFS you can
  <a href="https://lists.linuxfoundation.org/mailman/listinfo/lvfs-announce">subscribe here</a>.
</p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">The fwupd project</h2>
<p class="card-text">
  The fwupd code is available at <a href="https://github.com/fwupd/fwupd">GitHub</a>
  and this is also the place to file <a href="https://github.com/fwupd/fwupd/issues">bugs or feature requests</a>
  to add support for new firmware flashing methods.
  You can get the code by doing:
</p>
<pre>
$ git clone https://github.com/fwupd/fwupd.git
</pre>
<p class="card-text">
  Various <a href="https://github.com/fwupd/fwupd/tree/master/plugins">plugins</a>
  are included to update devices, which includes native support for UEFI, DFU,
  Unifying, ThunderBolt and ColorHug.
</p>
  </div>
</div>

<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-info">Is updating firmware secure?</h2>
  <div class="card-body">
    <p class="card-text">
      In both the LVFS and fwupd, GPG crypto is being performed using GnuPG and
      PKCS#7 crypto is using GnuTLS.
      The fwupd daemon has no network access and only acts as the mechanism for
      clients using D-DBus and PolicyKit.
      Some devices also have additional hardware signature verification
      schemes implemented by the device manufacturer.
    </p>
    <p class="card-text">
      The LVFS and fwupd codebases have had several independent security audits.
      The LVFS has a huge number of tests <a href="https://travis-ci.org/hughsie/lvfs-website">run for each commit</a>,
      and fwupd has a <a href="https://travis-ci.org/hughsie/fwupd">comprehensive test suite</a>,
      and is regularly scanned using both clang and <a href="https://scan.coverity.com/projects/10744">Coverity</a>.
    </p>
  </div>
</div>
{% endblock %}
